<% content_for :title, "#{@bundle.title} · Knyle Share" %>

<div class="page">
  <main>
    <div class="markdown-document">
      <article class="markdown-body">
        <%= @rendered_markdown.html_safe %>
      </article>

      <footer class="markdown-actions">
        <a class="btn btn-secondary" href="<%= public_bundle_raw_url_for(@bundle, access_token: params[:access]) %>">View raw markdown</a>
        <a class="btn btn-primary" href="<%= public_bundle_download_url_for(@bundle, access_token: params[:access]) %>">Download file</a>
      </footer>
    </div>
  </main>
</div>
